 .pipe_li li{

    /* color: #ff0000; */
    height: auto;
    width: auto;
  border: 1px solid black;
    padding: 8px;
    border-radius: 15px;
   
}


 .pipe_li li:hover{
    /* background-color: #ff0000; */
     transition: all 0.5s ease-in-out;

 transform: scale(1.1);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  /* box-shadow:
  0 0 10px rgba(255, 0, 0, 0.6),
  0 0 20px rgba(255, 0, 0, 0.5),
  0 0 30px rgba(255, 0, 0, 0.4); */
  /* box-shadow:
  rgba(255, 0, 0, 0.25) 0px 8px 20px; */
box-shadow:
  rgba(255, 0, 0, 0.35) 0px 12px 28px,
  rgba(201, 75, 7, 0.25) 0px 8px 8px;
 }


 .card{
    margin-top: 50px ;
    border: 2px solid black;
    border-radius: 50px !important;
    height: 14rem;
   padding: 20px;
    /* width: 14rem; */
 }


