@media (max-width: 391px) {
  .pipe-banner {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;


  
  
  }

  .pipe_img_div {

margin-right: 50px;
padding: 20px;



  }


.pipe_text{
  margin: 20px;
}
  
.pipe_text h1 {
  font-size: 30px;
}

.pipe_text p {
  font-size: 16px;
padding-right: 10px;
}

.pipes {
  font-size: 14px;
}

}

.pipesec1div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  padding-top: 50px;

}

@media (max-width: 391px) {
  /* .sec1 {

  display: block ;
  flex-direction: column ;
  align-items: center ;
 } */

  .pipesec1div {
  display: block;
  padding: 10px;



  
}
}
