.inner-banner {
	text-align: center;
	padding-top: 105px;
	padding-bottom: 50px;
	background: #000 url(https://img.freepik.com/free-psd/travel-tourism-facebook-cover-banner-template_120329-5869.jpg?semt=ais_hybrid&w=740&q=80) center center no-repeat;
	background-size: cover;
	height: 600px;
	h3, ul {margin: 0;padding: 0;list-style: none;}
	h3 {font-size: 36px;font-family: 'Poppins';font-weight: 600;color: #FFFFFF;margin-bottom: 5px;}
	ul.breadcumb {
		li {display: inline-block;vertical-align: middle;}
		a, span {color: #FE5A0E;font-size: 18px;}
		span.sep {margin-left: 10px;margin-right: 10px;color: #FE5A0E;}
		span {color: #fff;}
	}
}